@model HomeVM
@* HOME Index *@
 

@* TITLE Section *@

        <section class="hero-section" id="section_1">
           
            
            @foreach (Title title in Model.Titles)
    {
        <div class="section-overlay"></div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-12 mt-auto mb-5 text-center">
                    <small> @title.Name </small>

                    <h1 class="text-white mb-5">@title.Headline</h1>

                    <a class="btn custom-btn smoothscroll" href="#section_2">@title.Button</a>
                </div>

                <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                    <div class="date-wrap">
                        <h5 class="text-white">
                            <i class="custom-icon bi-clock me-2"></i>
                            @Html.Raw(title.Date)
                        </h5>
                    </div>

                    <div class="location-wrap mx-auto py-3 py-lg-0">
                        <h5 class="text-white">
                            <i class="custom-icon bi-geo-alt me-2"></i>
                            @title.Location
                        </h5>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon d-flex align-items-center justify-content-center">
                            <span class="text-white me-3">Share:</span>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="~/video/@title.Video" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    }
            
        </section>






   @* ABOUT Section *@

        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                    <h2 class="text-white mb-4">@Model.About?.Title</h2>

                    <p class="text-white">@Model.About?.FirstText</p>

                    <h6 class="text-white mt-4">@Model.About?.SecondTitle</h6>

                    <p class="text-white">@Model.About?.SecondText</p>

                    <h6 class="text-white mt-4">@Model.About?.ThirdTitle</h6>

                    <p class="text-white">@Model.About?.ThirdText</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                    <img src="~/images/@Model.About?.Image" class="about-image img-fluid">

                            <div class="about-text-info d-flex">
                                <div class="d-flex">
                                    <i class="about-text-icon bi-person"></i>
                                </div>


                                <div class="ms-4">
                            <h3>@Model.About?.ImageTitle</h3>

                            <p class="mb-0">@Model.About?.ImageText</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>







        @* ARTIST Section *@

        <section class="artists-section section-padding" id="section_3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Meet Artists</h1>
                    </div>


            @foreach (Artist artist in Model.Artists)
            {

                <div class="col-lg-5 col-12" data-id="artist-@artist.Id">
                    <div class="artists-thumb">
                        <div class="artists-image-wrap">
                            <img src="~/images/artists/@artist.Image"
                                 class="artists-image img-fluid">
                        </div>

                        <div class="artists-hover">
                            <p >
                                <strong>Name:</strong>
                                @artist.Name
                            </p>

                            <p>
                                <strong>Birthdate:</strong>
                                @artist.Birthdate.ToString("dd.MM.yyyy")
                            </p>

                            <p>
                                <strong>Music:</strong>
                                @artist.Music
                            </p>

                            <hr>

                            <p class="mb-0">
                                <strong>Youtube Channel:</strong>
                                <a href="@artist.YoutubeChannel" target="_blank">@artist.Name Official</a>
                            </p>
                        </div>
                    </div>
                </div>
            }




                   

                </div>
            </div>
        </section>







        @* SCHEDULE SECTION *@

<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mb-4">Event Schedule for This Week</h2>
                <div class="table-responsive">
                    <table class="schedule-table table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var schedule in Model.Schedules)
                            {
                                <tr>
                                    <td>@schedule.Day</td>
                             
                                    <td>@schedule.Name</td>
                                    <td>@schedule.Time</td>
                                    <td>@schedule.Artist.Name</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>












            
        @* PRICE SECTION *@


<section class="pricing-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4">Plans, you'll love</h2>
            </div>

            @foreach (var price in Model.Prices)
            {
                <div class="col-lg-6 col-12">
                    <div class="pricing-thumb">
                        <div class="d-flex">
                            <div>
                                <h3><small>@price.Name</small> $@price.Cost</h3>
                                <p>@price.Title</p>
                            </div>
                            <p class="pricing-tag ms-auto">Save up to <span>@price.Discount %</span></p>
                        </div>

                        <ul class="pricing-list mt-3">
                            @foreach (var feature in price.Features.Split(','))
                            {
                                <li class="pricing-list-item">@feature</li>
                            }
                        </ul>

                        <a class="link-fx-1 color-contrast-higher mt-4" href="@price.Button">
                            <span>Buy Ticket</span>
                            <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="16" cy="16" r="15.5"></circle>
                                    <line x1="10" y1="18" x2="16" y2="12"></line>
                                    <line x1="16" y1="12" x2="22" y2="18"></line>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



    </main>
