@model Price
<h4>@Model.Name</h4>

<div>Cost : @Model.Cost $</div>
<div>Title : @Model.Title</div>
<div>Discount : @Model.Discount %</div>
<div>Features : @Model.Features</div>

<a asp-action="Index" class="btn btn-secondary mt-3">Go Back</a>
