@* ARTISTS Index *@
@model HomeVM



<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h2 class="mb-4">Meet Artists</h1>
            </div>


            @foreach (Artist artist in Model.Artists)
            {

                <div class="col-lg-5 col-12" data-id="artist-@artist.Id">
                    <div class="artists-thumb">
                        <div class="artists-image-wrap">
                            <img src="~/images/artists/@artist.Image"
                                 class="artists-image img-fluid">
                        </div>

                        <div class="artists-hover">
                            <p>
                                <strong>Name:</strong>
                                @artist.Name
                            </p>

                            <p>
                                <strong>Birthdate:</strong>
                                @artist.Birthdate.ToString("dd.MM.yyyy")
                            </p>

                            <p>
                                <strong>Music:</strong>
                                @artist.Music
                            </p>

                            <hr>

                            <p class="mb-0">
                                <strong>Youtube Channel:</strong>
                                <a href="@artist.YoutubeChannel" target="_blank">@artist.Name Official</a>
                            </p>
                        </div>
                    </div>
                </div>
            }

           @* for Load More*@          
@*  <div class="row" id="myArtists">
                <div class="col-12 d-flex justify-content-center my-3">
                    <a id="loadMore" class="btn btn-dark text-white" style="width:130px">Load More</a>
                    <input type="hidden" value="@ViewBag.ArtistsCount" />
                </div>
            </div> *@



        </div>
    </div>

 
</section>

   @section Scripts{
        <script asp-append-version="true" src="~/js/loadMore.js"></script>
    }
